.container {
  max-width: 120rem;

  //Centering Div Elements
  margin: 8rem auto;

  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;

  @media only screen and (max-width: $bp-largest) {
    margin: 0;
    max-width: 100%;
  }
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid var(--color-grey-light-2);

  //Flex Container
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media only screen and (max-width: $bp-smallest) {
    //to wrap the search bar into a new row
    flex-wrap: wrap;
    align-items: space-around;
    height: 12rem;
  }
}

.content {
  display: flex;

  @media only screen and (max-width: 65.25em) {
    flex-direction: column;
  }
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  // Pushing the legal text ar the very bottom vertically
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // Shorthand for flex-grow , -shrink & -basis
  flex: 0 0 18%;
}

.hotel-view {
  background-color: #fff;
  // Take all of the remaining space after side bar
  // Using flex-item property flex-grow
  flex-grow: 1;
}

.detail {
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: 1px solid var(--color-grey-light-2);

  @media only screen and (max-width: $bp-medium) {
    padding: 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }
}

.description {
  // 60% width of the box
  flex: 0 0 60%;
  margin-right: 4.5rem;
  box-shadow: var(--shadow-light);
  padding: 3rem;

  font-size: 1.4rem;

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
    margin-right: 3rem;
  }
  @media only screen and (max-width: $bp-small) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.user-reviews {
  // to take hte rest of the 40% space left
  flex: 1;
  font-size: 1.4rem;

  //centering all the buttons and review boxes to the center using flex box
  display: flex;
  flex-direction: column;
  align-items: center;
}
